[submodule "autoload/pathogen.vim.git"]
	path = autoload/pathogen.vim.git
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rhubarb"]
	path = bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/vim-matchup"]
	path = bundle/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "bundle/bundle/vim-tidal"]
	path = bundle/bundle/vim-tidal
	url = https://github.com/tidalcycles/vim-tidal.git
[submodule "bundle/vim-tidal"]
	path = bundle/vim-tidal
	url = https://github.com/tidalcycles/vim-tidal.git
